* {
    margin: 0;
    padding: 0;
    background: blanchedalmond;
}

.menuButton {
    width: 150px;
    padding: 15px;
    margin: 10px;
    color: white;
    background: darkcyan;
    text-align: center;
    cursor: pointer;
}

.menuButton:hover {
    background: aquamarine;
}

#menu {
    display: flex;
    justify-content: center;
}

#counter {
    display: flex;
    justify-content: center;
}

#game {
    border-collapse: collapse;
    margin: 2% auto 0;
}

td.cell {
    width: 20px;
    height: 20px;
    border: 1px dotted black;
    border-collapse: collapse;
}

.food {
    background: #00d021;
}

.snakeBody {
    background: darkolivegreen;
}

.snakeHead {
    background: chocolate;
}

.disabled {
    background: burlywood;
}

.disabled:hover {
    background: burlywood;
}

